body {
    margin: 8px;
}
#mainHeading {
    color:red;
}
.funParagraph {
    color:green
}
img {
    height:350px;
    width:650px;
}
html {
    margin: 1.25em;
    padding: 14px;
    background-color: azure;
}
#blueParagraph {
    color:blue;
}
#purpleParagraph {
    color:blueviolet
}
#orangeParagraph {
    color:orangered
}
h2, h3, h4, h5, h6 {
    font-size:x-large;
}